<mat-card class="notifications-card toolbar mat-elevation-z3">
    <mat-card-title class="title">Notifications</mat-card-title>
    <mat-card-content class="card-content">
        
        <div *ngIf="noNotifications">
            <span class="spacer"></span> 
            <p>There are no new notifications</p>
            <span class="spacer"></span> 
        </div>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let notification of notifications" hideToggle='true' (closed)=readNotification(notification)>
                <mat-expansion-panel-header>
                    <div class="notTitle">
                        <p *ngIf="notification.read == false">{{notification.title}}</p>
                        <p *ngIf="notification.read == true" class="read">{{notification.title}}</p>
                    </div>
                    <div class="notData">
                        <p *ngIf="notification.read == false">{{notification.date | date:'dd/M/yy, H:mm'}}</p>
                        <p *ngIf="notification.read == true" class="read">{{notification.date | date:'dd/M/yy, H:mm'}}</p>
                    </div>
                    <span class="spacer"></span>
                    <button mat-icon-button class="remove-button" (click)="removeNotification(notification)" color="warn"><mat-icon>close</mat-icon></button>
                </mat-expansion-panel-header>
                {{notification.message}}
            </mat-expansion-panel>
        </mat-accordion>   
        
        <div class="nav-buttons">
            <button mat-icon-button (click)="prevPage()" [disabled]="!prevEnabled"><mat-icon>chevron_left</mat-icon></button>
            <button mat-icon-button (click)="nextPage()" [disabled]="!nextEnabled"><mat-icon>chevron_right</mat-icon></button>
        </div>
    </mat-card-content>
</mat-card>
