<div mat-dialog-content class="dialog-content">
    <mat-list> 
        <mat-list-item *ngFor="let line of selectedUserLines">
            <span class="spacer"></span> 
            <p>{{line.name}}</p>
            <span class="spacer"></span>
            <button mat-icon-button [disabled]="checkDisabled(line)" (click)="removeLine(line)" class="remove-button"><mat-icon>delete</mat-icon></button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <p *ngIf="!selectedUserLines.length">This user does not administer any line yet</p>
    <div>
        <mat-form-field>
            <mat-select cdkFocusInitial [(value)]="selected">
              <mat-option *ngFor="let line of currentUserLines" [value]="line">
                {{line.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="addLine()" class="add-button">Add</button>
    </div>
    
    <button mat-raised-button class="done-button" (click)="onDoneClick()" color="primary">Done</button>
</div>
