<mat-card class="users-card">
    <mat-card-header>
        <mat-card-title>Users</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <mat-list>
            <mat-list-item>
                <span class="spacer"></span> 
                <p>User0</p>
                <span class="spacer"></span>
                <button mat-raised-button>Lines</button>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
                <span class="spacer"></span> 
                <p>User1</p>
                <span class="spacer"></span>
                <button mat-raised-button>Lines</button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
        <button mat-raised-button class="new-button">NEW</button>
        <span class="nav-buttons">
            <button mat-icon-button><mat-icon>chevron_left</mat-icon></button>
            <button mat-icon-button><mat-icon>chevron_right</mat-icon></button>
        </span>
    </mat-card-content>
</mat-card>
