<mat-card class="users-card mat-elevation-z3">
    <mat-card-title class="title">Users</mat-card-title>
    <mat-card-content class="card-content">
        <mat-divider></mat-divider>
        <mat-list>
            <div *ngFor="let user of users">
                <mat-list-item *ngIf="!checkSystemAdmin(user)">
                    <div class="userEmail">
                        <p>{{user.email}}</p>
                    </div>
                    <div class="userName">
                        <p *ngIf="user.enabled">{{user.name}} {{user.surname}}</p>
                        <p *ngIf="!user.enabled">Waiting for registration</p>
                    </div>
                    <span class="spacer"></span>
                    <div>
                        <button mat-raised-button *ngIf="!(checkCurrent(user.email) || checkSystemAdmin(user))" (click)="openDialogUserLines(user.email, user.lines)" color="primary">Lines</button>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </div>
        </mat-list>
        <button mat-raised-button class="new-button" (click)="openDialogNewUser()">NEW</button>
        <span class="nav-buttons">
            <button mat-icon-button (click)="prevPage()" [disabled]="!prevEnabled"><mat-icon>chevron_left</mat-icon></button>
            <button mat-icon-button (click)="nextPage()" [disabled]="!nextEnabled"><mat-icon>chevron_right</mat-icon></button>
        </span>
    </mat-card-content>
</mat-card>
