<mat-card class="users-card">
    <mat-card-header>
        <mat-card-title>Users</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <mat-list>
            <mat-list-item *ngFor="let user of users">
                <span class="spacer"></span> 
                <p>{{user.email}}</p>
                <span class="spacer"></span>
                <p *ngIf="user.enabled">{{user.name}} {{user.surname}}</p>
                <p *ngIf="!user.enabled">Waiting for registration</p>
                <span class="spacer"></span>
                <button mat-raised-button [disabled]="!user.enabled || checkCurrent(user.email) || checkSystemAdmin(user)" (click)="openDialogUserLines(user.email, user.lines)">Lines</button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
        <button mat-raised-button class="new-button" (click)="openDialogNewUser()">NEW</button>
        <span class="nav-buttons">
            <button mat-icon-button (click)="prevPage()" [disabled]="!prevEnabled"><mat-icon>chevron_left</mat-icon></button>
            <button mat-icon-button (click)="nextPage()" [disabled]="!nextEnabled"><mat-icon>chevron_right</mat-icon></button>
        </span>
    </mat-card-content>
</mat-card>
