<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Completed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet"
          type = "text/css"
          href = "/stylesheets/registrationCompleted.css" />
</head>
<body>
    <div class="toolbar">
        <p class="title">PediBUS</p>
    </div>
    <div class="container">
        <p class="message">Your account was created</p>
        <p class="submessage"><a th:href="${frontendUrl}">Log in</a> to access the pedibus</p>
    </div>
</body>
</html>