.title {
    font-size: 45px;
    margin: 0px;
    justify-content: center;
    font-weight: bold;
    color: rgb(230, 208, 18);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toolbar{
    background-color: rgb(39, 79, 112);
    text-align: center;
    height: 65px;
    line-height: 65px;
}

.message{
    font-size: 45px;
}

.container{
    text-align: center;
}

body{
    margin: 0px;
}