<div *ngIf="pupils && pupils.length > 0; else noPupils">
<div class="pupil-select">
    <span>Pupil: <strong>{{selectedPupil?.name}}</strong></span>
    <button (click)="changePupil()" mat-raised-button color="primary">Change</button>
</div>
<app-ride-selector
    [lines]="lines" (lineSelect)="selectLine($event)"
    [line]="selectedLine"
    [rides]="rides"
    [(selectedRide)]="selectedRideIndex">
  <div class="content" *ngIf="selectedRide && stops && reservations">
    <div *ngIf="selectedAttendance" class="present-msg">
      PRESENT
    </div>
    <div class="radio-group-container">
      <mat-radio-group
          class="stops-radio-group"
          [value]="selectedReservation ? selectedReservation.stopId : undefined">
        <mat-radio-button 
            *ngFor="let stop of (selectedRide.direction == 'O' ? stops.outwardStops : stops.returnStops)"
            [value]="stop.id"
            (click)="stop.name.toLowerCase() == 'school' || cantUpdate(stop) ? false : onStopClick(stop.id)"
            [disabled]="cantUpdate(stop)"
            [matTooltip]="cantUpdateExplanations[stop.id]"
            [ngClass]="stop.name.toLowerCase() == 'school' ? 'school' : ''">
          <h4 mat-line><span class="hour">{{stop.time}}</span> {{stop.name}}</h4>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</app-ride-selector>
</div>
<ng-template #noPupils>
  <div class="no-pupils">
    <strong>No pupils registered</strong>
  </div>
</ng-template>