.button-div{
  text-align: center;
}

.button{
  margin: 10px;
}

.NEW{
  color: white;
  background-color: darkgray;
}

.ASSIGNED{
  color: white;
  background-color: crimson;
}

.CONFIRMED{
  background-color: #0baa56
}

.CONSOLIDATED{
  color: white;
  background-color: #3f51b5;
}

.top-header{
  text-align: center;
  color: #3f51b5; 
}