
<app-simple-ride-selector
    [lines]="lines" (lineSelect)="selectLine($event)" [line]="selectedLine"
    [ride]="selectedRide" [currentDirection]="currentDirection" [currentDate]="currentDate"
    (prevRideClick)="prevRide()" [prevRideDisabled]="false"
    (nextRideClick)="nextRide()" [nextRideDisabled]="false">

  <div class="button-div" *ngIf="nullRide" >
    <button mat-raised-button class="button" color="primary" (click)="createRide()">CREATE RIDE</button> 
  </div>

  <div *ngIf="!nullRide && stops">
    <h2 class="top-header" *ngIf="selectedRide?.consolidated">RIDE CONSOLIDATED</h2>
    <mat-list>
      <mat-list-item *ngFor="let stop of (selectedRide?.direction == 'O' ? stops.outwardStops : stops.returnStops)"> 
        <mat-icon matListIcon>fiber_manual_record</mat-icon>
        <h4 mat-line><span class="hour">{{stop.time}}</span>&nbsp;<strong>{{stop.name}}</strong></h4>
        <mat-chip-list mat-line>
          <mat-chip *ngFor="let availability of availabilities?.get(stop.id)"
              (click)="isChipDisabled(stop)? undefined : onAvailabilityClick(availability)"
              [ngClass]="availability.status">
                {{availability.userId}}
          </mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-list>

    <div class="button-div">
      <div matTooltip="You can no longer consolidate this ride!" 
      [matTooltipDisabled]="!cantChangeRideStatus()" style="display: inline;">
        <button mat-raised-button class="button" color="primary" 
        *ngIf="!selectedRide.consolidated" [disabled]="cantChangeRideStatus()" (click)="changeRideStatus()">CONSOLIDATE RIDE</button>
      </div>
      <div matTooltip="You can no longer re-open this ride!" 
      [matTooltipDisabled]="!cantChangeRideStatus()" style="display: inline;">
        <button mat-raised-button class="button" color="primary" 
        *ngIf="selectedRide.consolidated" [disabled]="cantChangeRideStatus()" (click)="changeRideStatus()">RE-OPEN RIDE</button>
      </div>
      <div matTooltip="You cannot delete a consolidated ride! Re-open it first" 
      [matTooltipDisabled]="!selectedRide.consolidated" style="display: inline;">
        <button mat-raised-button class="button" color="warn" 
        [disabled]="selectedRide.consolidated" (click)="deleteRide()">DELETE RIDE</button>
      </div>
    </div>
  </div>

</app-simple-ride-selector>

<mat-card class="legend mat-elevation-z3" *ngIf="!nullRide" >
  <mat-card-title class="legend-title">Legend</mat-card-title>
  <mat-card-content class="legend-content">
    <span><mat-icon class="new-icon brush">brush</mat-icon> = NEW</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span><mat-icon class="assigned-icon brush">brush</mat-icon> = ASSIGNED</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span><mat-icon class="confirmed-icon brush">brush</mat-icon> = CONFIRMED</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span><mat-icon class="consolidated-icon brush">brush</mat-icon> = CONSOLIDATED</span>
  </mat-card-content>
</mat-card>