.button-div{
  text-align: center;
}

.button{
  margin: 10px;
}

.NEW{
  color: white;
  background-color: darkgray;
}

.ASSIGNED{
  color: white;
  background-color: crimson;
}

.CONFIRMED{
  background-color: #0baa56;
}

.CONSOLIDATED{
  color: white;
  background-color: #3f51b5;
}

.top-header{
  text-align: center;
  color: #3f51b5; 
}

.legend{
  min-width: 150px;
  max-width: 650px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.legend-title{
  text-align: center;
  margin: 15px;
}

.legend-content{
  font-size: 15px;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.new-icon{
  color: darkgray; 
}

.assigned-icon{
  color: crimson; 
}

.confirmed-icon{
  color: #0baa56; 
}

.consolidated-icon{
  color: #3f51b5; 
}

.brush{
  font-size: 30px;
}