.attendance {
  color: white;
  background-color: crimson;
}

.reservation {
  color: white;
  background-color: darkgray;
}

.both {
  color: white;
  background-color: midnightblue;
}

.hour {
  font-size: 0.93em;
  margin-right: 0.5em;
}