<app-ride-selector
  [lines]="lines" (lineSelect)="selectLine($event)"
  [line]="selectedLine"
  [rides]="rides"
  [selectedRide]="selectedRideIndex" (selectedRideChange)="onSelectedRideChange($event)"> 
  <mat-list class="list" *ngIf="selectedRide && stops">
    <mat-list-item *ngFor="let stop of (selectedRide.direction == 'O' ? stops.outwardStops : stops.returnStops)"> 
      <mat-icon matListIcon>fiber_manual_record</mat-icon>
      <h4 mat-line><span class="hour">{{stop.time}}</span> <strong>{{stop.name}}</strong></h4>
      <mat-chip-list mat-line>
        <mat-chip
          *ngFor="let data of rideData?.get(stop.id); let i = index"
          (click)="isChipDisabled() ? undefined : onDataClick(data, i)"
          [ngClass]="data.type"
          [disabled]="isChipDisabled(stop)"
          [matTooltip]="data.pupil.userId">
          {{data.pupil.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line><strong>Pupils without reservation</strong></h4>
      <mat-chip-list mat-line>
        <mat-chip 
          *ngFor="let pupil of missingPupils; let i = index"
          (click)="isChipDisabled() ? undefined : onPupilClick(pupil, i)"
          class="reservation"
          [disabled]="isChipDisabled()"
          [matTooltip]="pupil.userId">
          {{pupil.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-list-item>
  </mat-list>
  <div class="buttons">
    <h4 mat-line id="separator"><strong>Export ride</strong></h4>
    <button mat-raised-button class="download" (click)="downloadJSON()" color="primary">Download JSON <mat-icon>file_download</mat-icon></button>
    <button mat-raised-button class="download " (click)="downloadCSV()" color="primary">Download CSV <mat-icon>file_download</mat-icon></button>
  </div>
</app-ride-selector>

<mat-card class="legend mat-elevation-z3" *ngIf="!(rides?.length == 0)">
  <mat-card-title class="legend-title">Legend</mat-card-title>
  <mat-card-content class="legend-content">
    <div><mat-icon class="reservation-icon brush">brush</mat-icon> = RESERVATION</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div><mat-icon class="attendance-icon brush">brush</mat-icon> = ATTENDANCE (without reservation)</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div><mat-icon class="both-icon brush">brush</mat-icon> = BOTH</div>
  </mat-card-content>
</mat-card>