.login-card {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    margin-top: 200px;
}

.card-title{
    justify-content: center;
}
  
.form-field {
    width: 100%;
    margin-bottom: 5px;
}

.button-container {
    text-align: center;
    margin-top: 5px;
}

.register-label {
    margin-top: 20px;
    text-align: center;
}

