.toolbar{
    background-color: rgb(39, 79, 112);
    font-size: 45px;
    color: whitesmoke;
}

.mat-toolbar-row>div {
    display: flex;
    flex: 1;
}

.title {
    justify-content: center;
    font-weight: bold;
    color: rgb(230, 208, 18);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toolbar-items {
    justify-content: flex-end;
}

.notifications-alert {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    color: rgb(230, 208, 18);
}

.pending-notifications-count {
    font-size: 12px;
    position: relative;
    bottom: 10px;
    font-weight: 800;
}

.mat-subheader{
    color: whitesmoke;
    font-size: 35px;
    font-style: oblique;
}

.username{
    font-size: 17px;
    margin: 15px;
}

.logout-button{
    margin: 5px;
}

.container{
    padding: 10px;
}

.mat-menu-item{
    width: 100%;
    font-size: 18px;
    font-style: normal;
    color: white;
}

.menu-icons{ 
    margin-left: 5px;
    margin-right: 5px;
    font-size: 27px;
    color: white;
}

.menu-button{
    background-color: rgb(39, 79, 112);
    color: white;
    border: 0px;
    width: 80px;
}

.menu-icon{
    font-size: 45px;
}

::ng-deep .toolbar-menu{
    background-color: rgb(39, 79, 112);
    width: 20%;
    position: fixed;
}