.toolbar{
    background-color: steelblue;
    font-size: 45px;
    color: whitesmoke;
}

.button {
    padding: 0 14px;
}
  
.spacer {
    flex: 1 1 auto;
}

.menu {
    background-color: steelblue;
    width: 20%;
    min-height: 100%; /* Minimum height for modern browsers */
    height:100%; /* Minimum height for IE */ 
    position: fixed;
}

.mat-subheader{
    color: whitesmoke;
    font-size: 35px;
    font-style: oblique;
    
}

.mat-button{
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
    font-style: normal;
}

