<mat-toolbar class="toolbar">
  <mat-toolbar-row>
      <span class="spacer"></span>
      <span >PediBUS</span>
      <span class="spacer"></span>
      <button class="button" mat-raised-button (click)="logout()" [disabled]="logoutDisabled">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list class="menu">
  <mat-list-item>
    <span class="spacer"></span>
    <h3 mat-subheader>Menu</h3>
    <span class="spacer"></span>
  </mat-list-item>
  <mat-list-item>
    <button mat-button (click)="users()" [hidden]="usersDisabled">Users</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button (click)="attendances()">Attendances</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button>Comunications</button>
  </mat-list-item>
</mat-list>

<router-outlet></router-outlet>
