<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <div></div>
    <div class="title">PediBUS</div>
    <div class="toolbar-items">
      <div class="notifications-alert" *ngIf="loggedIn" [routerLink]="'/notifications'">
        <mat-icon>notifications</mat-icon>
        <div class="pending-notifications-count" *ngIf="pendingNotifications">{{pendingNotifications}}</div>
      </div>
      <button mat-raised-button *ngIf="loggedIn" (click)="logout()" color="warn">Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list class="menu" *ngIf="loggedIn">
  <mat-list-item>
    <span class="spacer"></span>
    <h3 mat-subheader>Menu</h3>
    <span class="spacer"></span>
  </mat-list-item>
  <mat-list-item *ngIf="!usersDisabled">
    <button mat-button [routerLink]="'/users'">Users</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button [routerLink]="'/pupils'">Pupils</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button [routerLink]="'/attendance'">Attendances</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button [routerLink]="'/availability'">Availabilities</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button [routerLink]="'/reservation'">Reservations</button>
  </mat-list-item>
  <mat-list-item *ngIf="!ridesDisabled">
    <button mat-button [routerLink]="'/rides'">Rides</button>
  </mat-list-item>
</mat-list>

<router-outlet></router-outlet>
