<mat-card class="pupils-card mat-elevation-z3">
    <mat-card-title class="title">Pupils</mat-card-title>
    <mat-card-content class="card-content">
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item *ngIf="noPupils">
                <span class="spacer"></span> 
                <p>No pupils registered yet</p>
                <span class="spacer"></span>
            </mat-list-item>
            <mat-list-item *ngFor="let pupil of pupils">
                <div class="pupilName">
                    <p>{{pupil.name}}</p>
                </div>
                <div class="pupilLine">
                    <p>{{pupil.lineName}}</p>
                </div>
                <span class="spacer"></span>
                <button mat-icon-button class="edit-button" (click)="openDialog(pupil)" ><mat-icon>edit</mat-icon></button>
                <button mat-icon-button class="remove-button" (click)="removePupil(pupil)"><mat-icon>delete</mat-icon></button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
        <button mat-raised-button class="add-button" (click)="openDialog(null)">ADD</button>
        <span class="nav-buttons">
            <button mat-icon-button (click)="prevPage()" [disabled]="!prevEnabled"><mat-icon>chevron_left</mat-icon></button>
            <button mat-icon-button (click)="nextPage()" [disabled]="!nextEnabled"><mat-icon>chevron_right</mat-icon></button>
        </span>
    </mat-card-content>
</mat-card>
